h1 {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    color: #343a40;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #007bff;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}